<div class="container">
  <div class="row pao-row">
    <div class="pao-flex pao-background3">Nosotros Somos Eclick</div>
  </div>

  <div class="class1">
    <div class="pao-row">
      <div class="pao-flex pao-background2">
        Nuestra misión es proporcionar a nuestros clientes una experiencia de
        compra excepcional, ofreciendo productos innovadores y de última
        generación a precios competitivos.
      </div>
    </div>

    <div class="pao-row">
      <div class="pao-flex pao-background2">
        En EClick, nos esforzamos por mantenernos actualizados con las últimas
        tendencias tecnológicas y trabajar estrechamente con nuestros
        proveedores para garantizar la mejor selección de productos para
        nuestros clientes.
      </div>
    </div>

    <div class="pao-row">
      <div class="pao-flex pao-background2">
        Ya sea que estés buscando una nueva laptop, componentes de PC de alto
        rendimiento o accesorios tecnológicos, estamos aquí para ayudarte!
      </div>
    </div>
  </div>

  <div class="pao-flex pao-background1">
    <img
      width="200px"
      src="./img/logo.png"
      width="150px"
      alt="Logo de la empresa"
    />
  </div>

  <div class="class1">
    <div class="pao-row">
      <div class="pao-flex pao-background2">
        Gracias por confiar en EClick para todas tus necesidades tecnológicas.
      </div>
    </div>
  </div>
</div>
