<div class="container">
  <div class="row pao-row">
    <div class="pao-flex pao-background3">Nosotros Somos Eclick</div>
  </div>

  <div class="class1">
    <p>
      <div class="pao-row">
      <div class="pao-flex pao-background2">Nuestra misión es proporcionar a nuestros clientes una experiencia de
      compra excepcional, ofreciendo productos innovadores y de última
      generación a precios competitivos.</div>
      </div>
    </p>

    <p>
      <div class="pao-row">
     <div class="pao-flex pao-backgorund2"> En EClick, nos esforzamos por mantenernos actualizados con las últimas
      tendencias tecnológicas y trabajar estrechamente con nuestros proveedores
      para garantizar la mejor selección de productos para nuestros clientes.
     </div>
     </div>

    </p>
    <p>
      <div class="pao-row">
      <div class="pao-flex pao-backgorund2">Ya sea que estés buscando una nueva laptop, componentes de PC de alto
      rendimiento o accesorios tecnológicos, 
      <p>¡estamos aquí para ayudarte!
      </p>
      </div>
      </div>


    </p>
  </div>

  <div class="pao-flex pao-backgorund1"><img src=".img/logo.png"/div>

  </div>
  <div class="class1">

    <p>
      <div class="pao-row">
      <div class="pao-flex pao-backgorund2"> Gracias por confiar en EClick para todas tus necesidades tecnológicas.
      </div>    
      </div>


      </p>
  </div>
</div>