<div class="container bg-grey">
  <div class="row">
    <div class="class4 flex-tow">
      <div class="text-principal">
        <div class="">
          <h1 class="padding-tb-10 animate-texto-deracha-izquierda-1s">
            Bienvenido
          </h1>
          <p class="padding-tb-10 animate-texto-deracha-izquierda-2s">
            Las computadoras más populares del mercado
          </p>
          <h3 class="padding-tb-10 animate-texto-deracha-izquierda-3s">
            desde <strong>450 $</strong>
          </h3>
        </div>
      </div>
      <div class="image-principal">
        <img class="img animate-texto-deracha-izquierda" src="/img/pci9.webp" />
      </div>
    </div>
  </div>
</div>
<div class="container wave1">
  <div class="class2 separador animate-abajo-arriba"></div>
</div>
<div class="container">
  <div class="row">
    <div class="class1 flex-tree">
      <div class="img-section animate-transform-opacity-left">
        <img class="img-articulos" src="/img/mouse.png" />
      </div>
      <div class="text-izquierda-lista">
        <h2>Descubre</h2>
        <p>¡Descubre la potencia que necesitas!</p>
        <p>
          Explora nuestra amplia selección de hardware de PC: desde procesadores
          de última generación hasta tarjetas gráficas de alto rendimiento.
          ¡Optimiza tu experiencia de juego y trabajo con lo mejor en
          tecnología!
        </p>
        <a class="btn btn-danger">Conoce más...</a>
      </div>
    </div>
  </div>
</div>
<div class="container background-cover">
  <div class="class1"></div>
</div>
<div class="container">
  <div class="row">
    <div class="class1 flex-tree">
      <div class="text-derecha-lista">
        <h2>Potencia</h2>
        <p>
          ¡Obtén lo último en hardware de PC! No te quedes sin la tuya. Descubre
          potencia, rendimiento y estilo en cada componente. ¡Haz realidad tus
          proyectos con tecnología de vanguardia!
        </p>
        <a class="btn btn-danger">Conoce más...</a>
      </div>
      <div class="img-section animate-transform-opacity-down">
        <img class="img-articulos" src="/img/auriculares.png" />
      </div>
    </div>
  </div>
</div>
<div class="container wave2">
  <div class="class2 separador">
    <h1 class="animate-transform-opacity-down">Marcas</h1>
    <p class="animate-transform-opacity-down">
      Lorem ipsum dolor sit amet consectetur adipisicing itaque?
    </p>
  </div>
</div>
<div class="container bg-grey">
  <div class="row">
    <div class="class1 flex-four">
      <div class="animate-transform-opacity-down">
        <img class="img" src="/img/amd.png" />
      </div>
      <div class="animate-transform-opacity-down">
        <img class="img" src="/img/intel.png" />
      </div>
      <div class="animate-transform-opacity-down">
        <img class="img" src="/img/nvidia.png" />
      </div>
      <div class="animate-transform-opacity-down">
        <img class="img" src="/img/dell.png" />
      </div>
    </div>
  </div>
</div>
<div class="container wave1">
  <div class="class2 separador animate-abajo-arriba"></div>
</div>
<div class="container">
  <div class="row">
    <div class="class1 flex-tree">
      <div class="img-section animate-transform-opacity-left">
        <img class="img-articulos" src="/img/pc2.png" />
      </div>
      <div class="text-izquierda-lista">
        <h2>Contáctanos</h2>
        <p>¡Descubre la potencia que necesitas!</p>
        <p>
          Explora nuestra amplia selección de hardware de PC: desde procesadores
          de última generación hasta tarjetas gráficas de alto rendimiento.
          ¡Optimiza tu experiencia de juego y trabajo con lo mejor en
          tecnología!
        </p>
        <a class="btn btn-danger">Contáctanos ahora</a>
      </div>
    </div>
  </div>
</div>
<div class="containers">
  <iframe
    style="width: 100%"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d44162.1042186276!2d-58.53138296623483!3d-34.64540728526614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc9f63396ae49%3A0xb292a958b7730381!2sCodo%20a%20codo%20y%20centro%20de%20formacion%20profecional!5e0!3m2!1ses!2sar!4v1715045335508!5m2!1ses!2sar"
    height="680"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>
