<div class="container">
  <div id="register-status" class="row">
    <div class="register class1">
      <div class="flex-register form1">
        <h2>Login</h2>
        <form id="">
          <div class="form-group">
            <label for="email">Email</label>
            <div class="ew ew-email"></div>
            <input
              type="tetx"
              typex="email"
              name="email"
              minlength="5"
              class="input-form"
              placeholder="Ingresa tu Email"
              data-validate="true"
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <div class="ew ew-password"></div>
            <input
              id="password"
              type="password"
              typex="text"
              name="password"
              minlength="3"
              class="input-form"
              placeholder="Ingresa tu password"
              data-validate="true"
              autocomplete="off"
            />
          </div>

          <div class="form-submit">
            <button
              type="submit"
              form="registro-usuario"
              class="btn btn-danger"
            >
              Iniciar de sesión
            </button>
          </div>
        </form>
      </div>
      <div class="flex-register form2">
        <h2>Bienvenidos!</h2>
        <p>
          ¡Bienvenido nuevamente! Estamos encantados de tenerte de vuelta.
          Recuerda siempre resguardar tus credenciales de acceso de manera
          segura, evitando compartirlas con terceros o almacenarlas en lugares
          públicos. Además, te recomendamos mantener actualizados tus programas
          de seguridad y realizar compras solo en sitios web seguros y
          confiables. Para una mejor experiencia de compra, te aconsejamos
          comparar precios y características antes de realizar tu compra,
          asegurándote de elegir el producto que mejor se adapte a tus
          necesidades. ¡Gracias por confiar en nosotros para tus compras de
          tecnología!
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container wave2">
  <div class="class2 separador">
    <h1 class="animate-transform-opacity-down">Marcas</h1>
    <p class="animate-transform-opacity-down">
      Lorem ipsum dolor sit amet consectetur adipisicing itaque?
    </p>
  </div>
</div>
<div class="container bg-grey">
  <div class="row">
    <div class="class1 flex-four">
      <div class="animate-transform-opacity-down">
        <img class="img" src="/img/amd.png" />
      </div>
      <div class="animate-transform-opacity-down">
        <img class="img" src="/img/intel.png" />
      </div>
      <div class="animate-transform-opacity-down">
        <img class="img" src="/img/nvidia.png" />
      </div>
      <div class="animate-transform-opacity-down">
        <img class="img" src="/img/dell.png" />
      </div>
    </div>
  </div>
</div>
