<div class="container background-cover3">
  <div class="class1"></div>
</div>
<div class="container">
  <div id="register-status" class="row">
    <div class="register class1">
      <div class="flex-register form1">
        <h2>Registrate!</h2>
        <form id="registro-usuario">
          <div class="form-group">
            <label for="email">Email</label>
            <div class="ew ew-email"></div>
            <input
              type="tetx"
              typex="email"
              name="email"
              minlength="5"
              class="input-form"
              placeholder="Ingresa tu Email"
              data-validate="true"
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <div class="ew ew-password"></div>
            <input
              id="password"
              type="password"
              typex="text"
              name="password"
              minlength="3"
              class="input-form"
              placeholder="Ingresa tu password"
              data-validate="true"
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <label for="foto">Foto</label>
            <div class="ew ew-foto"></div>
            <input
              id="foto"
              type="file"
              typex="foto"
              name="foto"
              minlength="3"
              class="input-form"
              placeholder="Ingresa tu foto"
              data-validate="true"
              autocomplete="off"
              accept="image/png, image/jpeg"
            />
          </div>
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <div class="ew ew-nombre"></div>
            <input
              type="text"
              typex="text"
              name="nombre"
              minlength="3"
              class="input-form"
              placeholder="Ingresa tu Nombre"
              data-validate="true"
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <label for="apellido">Apellido</label>
            <div class="ew ew-apellido"></div>
            <input
              name="apellido"
              type="text"
              typex="text"
              minlength="3"
              class="input-form"
              placeholder="Ingresa tu apellido"
              data-validate="true"
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <label for="telefono">Télefono</label>
            <div class="ew ew-telefono"></div>
            <input
              type="text"
              typex="tel"
              name="telefono"
              maxlength="10"
              minlength="3"
              class="input-form"
              placeholder="Ingresa tu telefono 11********"
              data-validate="true"
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <label for="dirección">Dirección</label>
            <div class="ew ew-dirección"></div>
            <textarea
              name="dirección"
              minlength="3"
              class="input-form"
              data-validate="true"
              autocomplete="off"
            ></textarea>
          </div>
          <div class="form-group">
            <label for="select_tipos">¿Quién te hablo de nosotros?</label>
            <div class="ew ew-select_tipos"></div>
            <select
              name="select_tipos"
              id="select_tipos"
              minlength="1"
              class="input-form"
              data-validate="true"
            >
              <option value="">Selecciona una opción</option>
            </select>
          </div>
          <div class="form-group">
            <h3>Cuentanos</h3>
            <p>¿Qué tipo de productos te interesan de nuestra web?</p>
            <div class="ew ew-radio"></div>
            <div class="form-group">
              <div class="elements">
                <div>
                  <input
                    class="input-form"
                    name="radio"
                    type="radio"
                    id="pcd"
                    data-validate="true"
                  />
                </div>
                <div>
                  <label for="pcd">Computadora Escritorio</label>
                </div>
              </div>
              <div class="elements">
                <div>
                  <input
                    class="input-form"
                    name="radio"
                    type="radio"
                    id="laptop"
                    data-validate="true"
                  />
                </div>
                <div>
                  <label for="laptop">Laptops</label>
                </div>
              </div>
              <div class="elements">
                <div>
                  <input
                    class="input-form"
                    name="radio"
                    type="radio"
                    id="speaker"
                    data-validate="true"
                  />
                </div>
                <div>
                  <label for="speaker">Speaker</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="terminos">
              <div class="ew ew-terminos"></div>
              <div class="elements">
                <div>
                  <input
                    class="input-form"
                    name="terminos"
                    id="terminos"
                    type="checkbox"
                    data-validate="true"
                  />
                </div>
                <div>He leído y acepto los términos</div>
              </div>
            </label>
          </div>
          <div class="form-submit">
            <button
              type="submit"
              form="registro-usuario"
              class="btn btn-danger"
            >
              Registrar
            </button>
          </div>
        </form>
      </div>
      <div class="flex-register form2">
        <h2>Bienvenidos!</h2>
        <p>
          Regístrate en nuestro portal y consigue las mejores ofertas en
          nuestros productos. Hazte miembro de nuestra comunidad en eClick y
          accede a exclusivos descuentos y promociones. Únete hoy mismo y
          aprovecha todos los beneficios de pertenecer a eClick.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container wave2">
  <div class="class2 separador">
    <h1 class="animate-transform-opacity-down">Marcas</h1>
    <p class="animate-transform-opacity-down">
      Lorem ipsum dolor sit amet consectetur adipisicing itaque?
    </p>
  </div>
</div>
<div class="container bg-grey">
  <div class="row">
    <div class="class1 flex-four">
      <div class="animate-transform-opacity-down">
        <img class="img" src="/img/amd.png" />
      </div>
      <div class="animate-transform-opacity-down">
        <img class="img" src="/img/intel.png" />
      </div>
      <div class="animate-transform-opacity-down">
        <img class="img" src="/img/nvidia.png" />
      </div>
      <div class="animate-transform-opacity-down">
        <img class="img" src="/img/dell.png" />
      </div>
    </div>
  </div>
</div>
<div class="container background-cover3">
  <div class="class1"></div>
</div>
<div class="container wave1">
  <div class="class2 separador animate-abajo-arriba"></div>
</div>
<div class="container">
  <div class="row">
    <div class="class1 flex-tree">
      <div class="img-section animate-transform-opacity-left">
        <img class="img-articulos" src="/img/pc2.png" />
      </div>
      <div class="text-izquierda-lista">
        <h2>Contáctanos</h2>
        <p>¡Descubre la potencia que necesitas!</p>
        <p>
          Explora nuestra amplia selección de hardware de PC: desde procesadores
          de última generación hasta tarjetas gráficas de alto rendimiento.
          ¡Optimiza tu experiencia de juego y trabajo con lo mejor en
          tecnología!
        </p>
        <a class="btn btn-danger">Contáctanos ahora</a>
      </div>
    </div>
  </div>
</div>
