<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/estilos.css">
  <title>EClick-Servicios</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="class1">
        <h1>Servicios</h1>
        <div class="carrusel">
          <div class="frame" id="frame">
            <section class="slider_section">
              <h2>Servicio de instalación de redes</h2>
              <img src="imagenes/imagen01.png" alt="imagen01">
            </section>
            <section class="slider_section">
              <H2>Servicio Internet Satelital</H2>
              <img src="imagenes/imagen02.png" alt="imagen02">
            </section>
            <section class="slider_section">
              <h2>Servicio Técnico</h2>
              <img src="imagenes/imagen03.png" alt="imagen03">
            </section>
            <section class="slider_section">
              <h2>Servicio de diseño web</h2>
              <img src="imagenes/imagen04.png" alt="imagen04">
            </section>
          </div>
          <div class="boton_izquierdo">
            <</div>
              <div class="boton_derecho">></div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <H2>Redes Informáticas , instalación y mantenimiento. Conectividad para empresas.</H2>
    <p>Ofrecemos la instalación de red de cableado estructurado y el soporte técnico IT necesario para asegurar su
      eficacia. Contamos con técnicos altamente capacitados.

      Instalamos su red informática de forma ordenada y segura, a partir de un diagnóstico exhaustivo de sus equipos y
      las oportunidades de crecimiento que brinda su negocio. Instalamos y mantenemos su red informática y sus
      conexiones locales, para un mayor y mejor rendimiento, ahorrándole tiempo y dinero.

      Nuestro cableado de red brinda soluciones para la productividad de sus sistemas. Nos encargamos de la
      planificación, instalación y configuración necesaria para un cableado eficiente, una Red Wi-Fi o ambas
      infraestructuras combinadas.

      Gestionamos diversos tipos de redes de manera eficiente y segura. Contamos con certificaciones de Red y
      mantenimiento de red activo y preventivo, solucionando incidencias o eventuales fallas de cualquier requerimiento.

    </p>
    <br>
    <h2>Servicio Internet Satelital</h2>
    <p>Ofrecemos nuestro servicio de Capacidad Satelital en Banda Ka, en Mbps, con pisada sobre todo el territorio
      argentino. Proveemos toda la infraestructura central sin necesidad de inversión por parte del cliente, con
      posibilidad de crecimiento en forma escalonada.</p>
    <br>
    <h2>Servicio Técnico de pc y notebooks</h2>
    <p>Nuestro servicio tecnico, en su mayoría, se resuelve en el domicilio del cliente. De no ser posible, por
      cuestiones técnicas, recogeremos su ordenador, lo reparamos y lo devolvemos a su domicilio.</p>
    <p>En EClick tenemos como objetivo ofrecerte un servicio técnico integral que pone en primer lugar tus intereses y
      los de tu computadora. Como técnicos pensamos en tu seguridad y por ello contamos con Garantía en el 100% de
      nuestros trabajos. Del mismo modo pensamos en tu confianza por lo que también contamos con Presupuesto sin cargo y
      un Asesoramiento personalizado.</p>
    <br>
    <h2>Servicio de diseño web</h2>
    <p>En EClick brindamos servicio de diseño web premium.</p>
    <p>Desarrollamos páginas web de alto impacto apuntadas a maximizar resultados. Somos especialistas en generar
      soluciones a medida y diseño personalizado para cada cliente.</p>
    <script src="classw.carrusel.js"></script>
</body>

</html>